.water-form {
  background: white;
  border-radius: 10px;
  padding: 50px;
  max-width: 700px;

  &__intro {
    line-height: 1.5rem;
  }
  .toronto-water-items {
    .account-number {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: -1rem;
    }
  }
  .form-error {
    color: #c53030;
  }
}
